body {
color: #333333;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
}


a{
	color: #eb1b29;
}

.menuItem{
cursor: pointer;
padding: 10px;
border-style: solid;
border-width: 2px;
background-color: #40b441;
border-color: #333333;
border-radius: 25px;
height: 60px;
display: table; 
color: white;
}

.menuItem:hover{
background-color: #ffffff;
color: #40b441;
}

#important:hover{
cursor: default;
background-color: #40b441;
color: white;
}

.BrandNew:after{
content: " New!";
color: #ffef22;
font-variant: small-caps;
font-size: 12pt;
font-weight: bold;
}

.menuLink{
text-decoration: none;
display: block;
width: 100%;
display: table-cell; 
vertical-align: middle
}




