body {
color: #333333;
font-family: Verdana, Geneva, sans-serif;
}

.menuItem_onmouseout{
cursor: pointer;
padding: 0.2cm;
border-style: solid;
border-width: 2px;
background-color: #f4ff45;
border-color: #333333;
}

.menuItem_onmouseover{
cursor: pointer;
padding: 0.2cm;
border-style: solid;
border-width: 2px;
background-color: #ffffff;
border-color: #333333;
}

.menuLink{
text-decoration: none;
color: #333333;
display: block;
width: 100%;
}

a{
	color: #be1d1b;
}

